INTERNAL_DATABASE_URL=postgresql://mypg:mypg_pass@postgres:5432/mypg_internal
DATA_DATABASE_URL=postgresql://mypg:mypg_pass@postgres:5432/mypg_data

JWT_SECRET=change_me_to_a_long_random_string_in_production
JWT_EXPIRES_IN=7d

API_PORT=4000
CORS_ORIGINS=http://localhost:3000

STORAGE_TYPE=local
STORAGE_LOCAL_PATH=./uploads

S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=mypg_minio
S3_SECRET_KEY=mypg_minio_secret
S3_BUCKET=mypg-storage
S3_REGION=us-east-1

NEXT_PUBLIC_API_URL=http://localhost:4000
