INTERNAL_DATABASE_URL=postgresql://postgres:PgSec2026_Postgres_AdminKey!@postgres-main:5432/mypg_internal
DATA_DATABASE_URL=postgresql://postgres:PgSec2026_Postgres_AdminKey!@postgres-main:5432/mypg_data

JWT_SECRET=mypg_prod_secure_jwt_token_key_2026
JWT_EXPIRES_IN=7d

API_PORT=4000
CORS_ORIGINS=*

STORAGE_TYPE=local
STORAGE_LOCAL_PATH=./uploads

